name: Run

on:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        java-version: ['17', '21']
        java-distribution: ['temurin', 'zulu', 'adopt']
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: ${{matrix.java-version}}
          distribution: ${{matrix.java-distribution}}
      - name: Setup gradle
        uses: gradle/actions/setup-gradle@v4
      - name: Run
        run: ./gradlew run
